
.con,
.mid,
.codes,
.info,
img {
  width: 100%
}

.con {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.top {
  margin-top: 40px;
  min-height: 40vh
}

h3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 22px
}

.codes {
  display: flex;
  justify-content: space-around;
  align-items: center
}

.logo,
.parcode,
.zfta {
  width: 300px
}

.parcode {
  width: 140px
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap
}

.inner,
.alot {
  width: 250px;
  height: 150px
}

.one,
.two,
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.orange {
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #0f0f0f;
  color: #ffa500;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center
}

.regular {
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 120px;
  height: 40px;
  border: 1px solid #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center
}

.table {
  width: 100%
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #c5c2c2
}

tr,
td {
  border: 3px solid #c5c2c2;
  text-align: center;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 18px
}

.table_last {
  width: 60%
}

.zft {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 90px;
  gap: 90px
}

.text,
.text h4,
.text p {
  font-weight: 900;
  font-size: 20px;
  text-align: center
}

.download_btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 150px;
  left: 190px;
}

.btn {
  cursor: pointer;
  width: 100%;
  color: #2020d4;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width:600px) {
  .logo {
    width: 180px
  }

  .parcode {
    width: 85px
  }

  .top {
    min-height: 33vh
  }

  .inner,
  .alot,
  .one,
  .two {
    height: 42px
  }

  .inner,
  .alot {
    width: 209px
  }

  tr,
  td {
    padding: 8px 3px;
    font-weight: 600;
    font-size: 12px
  }

  h3 {
    font-size: 18px
  }

  .orange,
  .regular {
    font-size: 16px;
    width: 100px;
    height: 32px
  }

  .table_last {
    width: 100%
  }

  .zft {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    flex-direction: column;
    justify-content: center
  }

  .text {
    width: 100%
  }

  .zfta {
    width: 220px
  }

  .download_btn {
    bottom: 75px;
    left: 60px;
  }
}